<article
  class="mini-planet-preview"
  [class.mini-planet-preview--no-data]="isNoDataPlanet()"
  [class.mini-planet-preview--player]="isPlayerOwnedPlanet()"
  [class.mini-planet-preview--neutral]="isNeutralOwnedPlanet()"
  [class.mini-planet-preview--human]="isHumanOwnedPlanet()"
  [class.mini-planet-preview--bot]="isBotOwnedPlanet()"
  [class.mini-planet-preview--selected]="isSelected"
  [attr.data-relation]="diplomacyRelationKey()"
>
  <h4 class="mini-planet-preview__name">{{ planetNameLabel() }}</h4>

  <div class="mini-planet-preview__media">
    @if (planetImagePath(); as imagePath) {
      <img
        class="mini-planet-preview__image"
        [src]="imagePath"
        [alt]="planetImageAlt()"
        [style.transform]="planetImageTransform()"
        [style.filter]="planetImageFilter()"
      />
    }
    <p class="mini-planet-preview__owner">{{ ownershipLabel() }}</p>
  </div>

  <div class="mini-planet-preview__tags">
    @for (tag of tags; track tag.label) {
      <span class="mini-planet-preview__tag" [appTooltip]="tag.tooltip">
        {{ tag.label }}
      </span>
    }
  </div>

  @if (showSelectionActions) {
    <div class="mini-planet-preview__actions">
      <button type="button" class="mini-planet-preview__button" (click)="emitChooseAsOrigin()">
        {{ 'generated.miniPlanet.actions.setOrigin' | t }}
      </button>
      <button type="button" class="mini-planet-preview__button" (click)="emitChooseAsTarget()">
        {{ 'generated.miniPlanet.actions.setTarget' | t }}
      </button>
      <button
        type="button"
        class="mini-planet-preview__button"
        [appTooltip]="
          'generated.miniPlanet.tooltips.copyCoordinates' | t: { coordinates: coordinatesLabel() }
        "
        (click)="copyCoordinates()"
      >
        {{ 'generated.miniPlanet.actions.copyCoordinates' | t }}
      </button>
    </div>
  } @else if (showDefaultActions) {
    <div class="mini-planet-preview__actions">
      <button
        type="button"
        class="mini-planet-preview__button mini-planet-preview__button--intel"
        [disabled]="!canViewPlanet()"
        [appTooltip]="
          canViewPlanet()
            ? ('generated.miniPlanet.tooltips.openPlanetView' | t)
            : ('generated.miniPlanet.tooltips.planetIntelUnavailable' | t)
        "
        (click)="openPlanetView()"
      >
        {{ 'generated.miniPlanet.actions.viewPlanet' | t }}
      </button>
      <button
        type="button"
        class="mini-planet-preview__button mini-planet-preview__button--mission"
        [disabled]="!canUseAsMissionOrigin()"
        [appTooltip]="
          canUseAsMissionOrigin()
            ? ('generated.miniPlanet.tooltips.openMissionOrigin'
              | t: { coordinates: coordinatesLabel() })
            : ('generated.miniPlanet.tooltips.missionOriginUnavailable' | t)
        "
        (click)="openMissionPlannerAsOrigin()"
      >
        {{ 'generated.miniPlanet.actions.missionOrigin' | t }}
      </button>
      <button
        type="button"
        class="mini-planet-preview__button mini-planet-preview__button--mission"
        [appTooltip]="
          'generated.miniPlanet.tooltips.openMissionTarget' | t: { coordinates: coordinatesLabel() }
        "
        (click)="openMissionPlannerAsTarget()"
      >
        {{ 'generated.miniPlanet.actions.missionTarget' | t }}
      </button>
      @if (showSpyAction()) {
        <button
          type="button"
          class="mini-planet-preview__button mini-planet-preview__button--spy"
          [appTooltip]="
            'generated.miniPlanet.tooltips.openSpy' | t: { coordinates: coordinatesLabel() }
          "
          (click)="openSpyDialog()"
        >
          {{ 'generated.miniPlanet.actions.spy' | t }}
        </button>
      }
      @if (showSensorPhalanxAction) {
        <button
          type="button"
          class="mini-planet-preview__button mini-planet-preview__button--sensor"
          [appTooltip]="
            'generated.miniPlanet.tooltips.openSensorScan' | t: { coordinates: coordinatesLabel() }
          "
          (click)="emitSensorPhalanxScan()"
        >
          {{ 'generated.miniPlanet.actions.sensorScan' | t }}
        </button>
      }
      <button
        type="button"
        class="mini-planet-preview__button mini-planet-preview__button--utility"
        [appTooltip]="
          'generated.miniPlanet.tooltips.copyCoordinates' | t: { coordinates: coordinatesLabel() }
        "
        (click)="copyCoordinates()"
      >
        {{ 'generated.miniPlanet.actions.copyCoordinates' | t }}
      </button>
    </div>
    @if (spyLaunchNotice) {
      <p class="mini-planet-preview__notice">{{ spyLaunchNotice }}</p>
    }
  }
</article>

<app-spy-launch-dialog
  [isOpen]="isSpyDialogOpen"
  [targetPlanet]="planet"
  (closed)="closeSpyDialog()"
  (launched)="handleSpyMissionLaunched($event)"
></app-spy-launch-dialog>
