<section class="resources-bar">
  <div class="resources-bar__title">{{ viewName }}</div>
  <div class="resources-bar__items">
    <div class="resource">
      <span class="resource__label">Metal</span>
      <span class="resource__value">
        {{ formatResource(metal) }}{{ formatCapacitySuffix(metal) }}
      </span>
      @if (formatIncome(metal); as income) {
        <span class="resource__sub-value">{{ income }}</span>
      }
    </div>
    <div class="resource">
      <span class="resource__label">Crystal</span>
      <span class="resource__value">
        {{ formatResource(crystal) }}{{ formatCapacitySuffix(crystal) }}
      </span>
      @if (formatIncome(crystal); as income) {
        <span class="resource__sub-value">{{ income }}</span>
      }
    </div>
    <div class="resource">
      <span class="resource__label">Deuterium</span>
      <span class="resource__value">
        {{ formatResource(deuterium) }}{{ formatCapacitySuffix(deuterium) }}
      </span>
      @if (formatIncome(deuterium); as income) {
        <span class="resource__sub-value">{{ income }}</span>
      }
    </div>
    <div class="resource">
      <span class="resource__label">Energy</span>
      <span
        class="resource__value"
        [class.resource__value--energy-over]="isEnergyOverloaded(energy)"
        [class.resource__value--energy-full]="isEnergyAtHundred(energy)"
        [class.resource__value--energy-near]="isEnergyNearLimit(energy)"
        [class.resource__value--energy-safe]="isEnergySafe(energy)"
      >
        {{ formatResource(energy) }}{{ formatCapacitySuffix(energy) }}{{ energyOverloadLabel(energy) }}
      </span>
    </div>
  </div>
</section>
